@page "/"
@using Blazorise.DataGrid

<PageTitle>Index</PageTitle>

<h1>Norwegian Mountains V2</h1>

Client-side : StrawberryShake
Backend: HotChocolate

<UseHentMountains Context="result">
<ChildContent>

    <DataGrid 
          Data="@result.Mountains"
          Filterable="true"
          FilterMethod="DataGridFilterMethod.Contains"
          ShowPager="true"
          ShowPageSizes="true"
          Editable="false"
          Striped="true"
          Hoverable="true"
          Responsive="true"
>
    <ChildContent>
        <DataGridCommandColumn TItem="IHentMountains_Mountains"></DataGridCommandColumn>
        <DataGridColumn TItem="IHentMountains_Mountains" Field="Id" Caption="Id" Sortable="false" Displayable="true"/>
        <DataGridColumn TItem="IHentMountains_Mountains" Field="OfficialName" Caption="OfficialName" Sortable="false" Displayable="true"/>
        <DataGridColumn TItem="IHentMountains_Mountains" Field="MetresAboveSeaLevel" Caption="ReferencePoint" Sortable="false" Displayable="true" />
        <DataGridColumn TItem="IHentMountains_Mountains" Field="PrimaryFactor" Caption="PrimaryFactor" Sortable="false" Displayable="true" />
        <DataGridColumn TItem="IHentMountains_Mountains" Field="Municipality" Caption="Municipality" Sortable="false" Displayable="true" />
        <DataGridColumn TItem="IHentMountains_Mountains" Field="ReferencePoint" Caption="ReferencePoint" Sortable="false" Displayable="true"/>
        <DataGridColumn TItem="IHentMountains_Mountains" Field="County" Caption="County" Sortable="false" Displayable="true" />
        <DataGridColumn TItem="IHentMountains_Mountains" Field="Comments" Caption="Comments" Sortable="false" Displayable="true" />

    </ChildContent>
    <EmptyTemplate>
        <div class="box">
            No mountains were found.
        </div>
    </EmptyTemplate>
    <LoadingTemplate>
        <div class="box">
            <progress class="progress is-small is-primary" max="100"/>
        </div>
    </LoadingTemplate>

</DataGrid>

</ChildContent>
<LoadingContent>
    this is a test
</LoadingContent>

</UseHentMountains>

<SurveyPrompt Title="How is Blazor working for you?" />


@code {

    [Inject] private ILogger<Index> log { get; init; }

    //protected void OnSelectedRowChanged(IHentMountains_Mountains_Mountain model)
    //{
    //    log.LogInformation($"selected row changed: {model.ToJson()}");
    //}

    protected async Task OnReadData(DataGridReadDataEventArgs<IHentMountains_Mountains> e)
    {
        //StateHasChanged();
    }
}
