@page "/"

<PageTitle>Index</PageTitle>

<h1>This is a test!</h1>

Welcome to your new app.

<UseHentMountains Context="result">
<ChildContent>
    @foreach (var mountain in result.Mountains){
        <p>@mountain.Id</p>
    }
</ChildContent>
<LoadingContent>
    this is a test
</LoadingContent>

</UseHentMountains>

<SurveyPrompt Title="How is Blazor working for you?" />
